 /* CUSTOM PROPY */
:root {
  --color:#ffffff;
  --color-bg-header-hero:#E5E5E5;
  --color-title:#ffad7a;
  --color-text:#5a5e67;
  --color-link:#506166;
  --black:#000000;
  --footer-border-color:#f8fbff;
  --fonts:'Oswald', 'Arial', sans-serif;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}



.info-section__wrapper-images{
  width: 600px;
  height: 350px;
  overflow-y: scroll;
}

.info-section__wrapper-images .info-section__images{
  width: 100% !important;
}


/* FONTS */

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
      url('../fonts/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL-STYLE */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  background-color: #3F4E4F;
  color: var(--color-title);
  font-family: var(--fonts);
  overflow-x: hidden;
}

*:focus {
  outline-color: var(--color-link);
  outline-offset: 2px;
  outline-width: 3px;
  outline-style: dashed;
}

img {
  max-width: 100%;
  height: auto;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER  */
.site-header {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2C3639;
  z-index: 1;
}

.site-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



.site-header__facade {
  position: absolute;
  width: 750px;
  height: 450px;
  object-fit: contain;
  z-index: -1;
  left: -556px;
  bottom: 219px;
}

.site-header__facade-right {
  position: absolute;
  width: 750px;
  height: 450px;
  object-fit: contain;
  right: -524px;
  bottom: 236px;
}

.site-header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.site-header__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top left;
  border-radius: 50%;
}

.site-header__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 42px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 6px;
  letter-spacing: 1.2px;
}

.site-header__text {
  font-weight: 700;
  font-size: 43px;
  line-height: 28px;
  margin: 0;
  padding-top: 20px;
}

.site-header__text-purple {
  color: #1f4869;
}

.site-header__text-purple {
  color:  #f45f03;
}

.site-header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-header__item:not(:last-child) {
  margin-right: 30px;
}

.site-header__link {
  display: flex;
  align-items: center;
  color: var(--color-title);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 12px 34px;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: 0.2s ease;
  border: 2px solid #3F4E4F;

}

.site-header__link:hover {
  border:2px solid #fff;
}

.site-header__link-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;
  margin-right: 5px;
}
.site-header__link-img {
  object-fit: contain;
  width: 20px;
  height: 20px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* MAIN-INFO */
.main-info__title {
  font-weight: 700;
  font-size: 31px;
  line-height: 33px;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.main-info__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -74px;
}
.main-info__item {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-left: 74px;
  margin-bottom: 75px;
  border-radius: 7px;
  background-color: #2C3639;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.main-info__img {
  display: block;
  width: 360px;
  height: 223px;
  object-fit: cover;
  object-position: center top;
  border-radius: 7px 7px 0px 0px;
}
.main-info__data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}
.main-info__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 9px;
}
.main-info__text {
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  color: #b4b4b4;
}
.main-info__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.main-info__links-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid #57656a;
  transition: 0.1s ease;
  border:1px solid transparent;
}


.main-info__links-wrapper {
  content: "";
  background-color: #465354;
  inset: 4px;
}


.main-info__links-wrapper:hover {
  border:1px solid #fff;
}

.main-info__links-wrapper:active {
  color:rgb(144, 141, 141);
  border:1px solid rgb(144, 141, 141);
}


.main-info__links-wrapper:active {
  opacity: 0.6;
}

.main-info__links-wrapper:not(:last-child) {
  margin-right: 18px;
}

.main-info__links-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #cecece;
  margin-right: 7px;
  z-index: 10;
}

.main-info__links-info {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 95px;
  border: 2px solid var(--color);
  border-radius: 5px;
  transition:transform 0.3s ease ;
  border: 1px solid var(--color-link);
}

.main-info__links-info:hover {
  border:1px solid #fff;
}

.main-info__links-info:active {
  border:1px solid rgb(144, 141, 141);
}

.main-info__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 7px;
  color: var(--color-title);
}

.main-links-info-wrapper {
  display: flex;
  justify-content: flex-end;
}

.main-info__links-img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  z-index: 10;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #DCD7C9;
}

.site-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(60, 72, 82, 0.5);
}

.site-footer__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 25px;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-text);
}

.site-footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer__item:not(:last-child) {
  margin-right: 24px;
}

.site-footer__link {
  display: flex;
  transition: 0.2s ease;
}

.site-footer__link:hover {
  transform: scale(1.2);
}

.site-footer__socials {
  width: 25px;
  height: 25px;
  object-fit: cover;
}


/* BATAFSIL */


/* HEADER-SITE */
.header-site {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: var(--color-bg-header-hero);
  position: relative;
}

/* .header-site::before {
  width: 740px;
  height: 470px;
  position: absolute;
  content: "";
  background-image: url(../img/oboy.svg);
  background-repeat: no-repeat;
  right: 823px;
  top: -140px;
  z-index: -3;
} */


.header-site__container {
  display: flex;
  align-items: center;
}

.header-site__link {
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
}

.header-site__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.2s ease;
}

.header-site__img:hover {
  opacity: 0.6;
}

.header-site__img:active {
  opacity: 0.8;
}

.header-site__info {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 135px;
}

.header-site__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.header-site__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  line-height: 35px;
}

.header-site__heading-small {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
}

.color-title {
  color: #1f4869;
}

.color-hub {
  color: #f45f03;
  margin-right: 5px;
}

.header-site__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto;
}

.header-site__item:not(:last-child) {
  margin-right: 30px;
}

.header-site__links {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;
  margin-right: 5px;
  color: var(--color-title);
}

.header-site__links:hover {
  color: #f45f03;
}

.header-site__links:active {
  opacity: 0.6;
}

.header-site__btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--black);
  color: var(--black);
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  border-radius: 3px;
  letter-spacing: 0.1em;
  transition: 0.1s ease;
  white-space: nowrap;
  cursor: pointer;
}

.header-site__btn:hover {
  background-color: var(--black);
  color: var(--color);
}

.header-site__btn:active {
  opacity: 0.4;
}


/* MAIN-INFO-SECTION */
.info-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* .info-section::before {
  width: 420px;
  height: 350px;
  position: absolute;
  content: "";
  background-image: url(../img/oboy2.svg);
  background-repeat: no-repeat;
  left: 1060px;
  top: 168px;
  z-index: -3;
} */

.info-section-page {
  width: 450px;
  margin-right: 61px;
}

.info-section__heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 57px;
  margin: 0;
  margin-bottom: 20px;
}

.info-section__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 14px;
  color: var(--color-text);
}

.info-section__text-description {
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
}

.info-section__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  background: var(--color-link);
  padding: 15px 42px;
  border-radius: 3px;
  color: var(--color-title);
  text-transform: uppercase;
  margin-right: 15px;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.info-section__link:hover {
  background-color: transparent;
  border: 1px solid var(--color-link);
}

.info-section__link:active {
  opacity: 0.6;
}

.info-section__images {
  width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.info-section__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 4px;
}

.description {
  margin: 0;
  margin-bottom: 20px;
}
.description__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
  padding-bottom: 5px;
}
.description__title {
  margin-right: 5px;
  color: var(--color-title);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text);
  margin: 0;
}